<h1>Login to your account</h1>
<div>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <button type="submit">Login</button>
</form>
</div>
<div>
<a href="/register">Create an account</a>
</div>
<div>
<a href="/">Back Home</a>
</div>