<h1>Create a new account</h1>
<div>
<form action="/register" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <button type="submit">Register</button>
</form>
</div>
<div>
<a href="/login">Login</a>
</div>
<div>
<a href="/">Back Home</a>
</div>