
html {
 height: 100%,
 width: 100%
}

body {
 margin: 0,
 padding: 0,
 height: 100%,
 width: 100%
 //background-image: url('../assets/bg.jpg');
}

@import "partials/_reset";
@import "partials/_clearfix";

$dark: black;
$light: #EEE;
$bright: orange;
$padding: 20px;

// Mixins
@mixin block_font($block_font_size: 25px, $block_font_color: $dark){
  font-size: $block_font_size;
  color: $block_font_color;
}

//FOR MOBILE
@media screen and (min-width: 600px){


}

