<h1>THESE ARE PICTURES!!!</h1>
{{#each gallery}}
<div class="container">
  <div>{{id}}</div>
  <div class="author">{{author}}</div>
  <div class="link">{{link}}</div>
  <div class="description">{{description}}</div>
</div>
{{/each}}
<form action="/gallery/new">
  <button type="submit">Post new picture</button>
</form>