<h1>THESE ARE PICTURES!!!</h1>
{{#each gallery}}
<div class="container">
  <div class="author">{{author}}</div>
  <div class="link">{{link}}</div>
  <div class="description">{{description}}</div>
</div>
{{/each}}