<h1>POST A NEW PICTURE</h1>
<form action="/gallery/new" method="POST">
  Author:
  <input type="text" name="author"><br>
  url:
  <input type="text" name="link"><br>
  Description:
  <input type="text" name="description"><br>
  <button type="submit">SUBMIT</button>
</form>
<form action="/gallery" method="GET">
  <button type="submit">Back to gallery</button>
</form>