<h1>POST A NEW PICTURE</h1>
<form action="/users/{{user}}/new" method="POST">
  Author:
  <input type="text" name="author"><br>
  url:
  <input type="text" name="link"><br>
  Description:
  <input type="text" name="description"><br>
  <div class="add_meta_field">
    <ul id="meta_fields"></ul>
    <button id="add_meta_field_button" type="button" >Add Meta Data</button>
  </div>
  <button type="submit">Post!</button>
</form>
<script src="/scripts/metaFields.js"></script>
<a href="/users/{{user}}">Back to gallery</a>