<h1>Our list of users</h1>
{{#each userlist}}
<form action="/home/{{username}}" method="GET">
  <button type="submit">{{username}}'s Gallery</button>
</form>
{{/each}}
<form action="/login">
  <h3>Login</h3>
  <button type="submit">Login</button>
</form>
<form action="/users/create">
  <h3>Create an account</h3>
  <button type="submit">Create</button>
</form>