<h1>Our list of users</h1>
<form action="/main/userlist">
  <h3>Userlist</h3>
  <button type="submit">Userlist</button>
</form>
<form action="/main/login">
  <h3>Login</h3>
  <button type="submit">Login</button>
</form>
<form action="/main/register">
  <h3>Create an account</h3>
  <button type="submit">Create</button>
</form>