<h1>Login to your account</h1>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <button type="submit">Login</button>
</form>
<form action="/users/create">
  <button type="submit">Create an account</button>
</form>