<form action="/gallery/{{id}}?_method=PUT" method="POST">
  <input type="text" name="author" placeholder="author" value="{{author}}">
  <input type="text" name="link" placeholder="link" value="{{link}}">
  <input type="text" name="description" placeholder="description" value="{{description}}">
  <button type="submit">SUBMIT</button>
</form>