<h1>Create a new account</h1>
<form action="/users/create" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <button type="submit">Login</button>
</form>
<form action="/login">
  <button type="submit">Login to your account</button>
</form>