<h1>THIS IS THE USER PAGE!</h1>
<form action="/gallery">
  <button type="submit">View your photos</button>
</form>
<form action="/gallery/new">
  <button type="submit">Post a new picture</button>
</form>